body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: transitionIn ease 1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alert p {
  margin-bottom: 0 !important;
}

body {
  /*background: #000428; /* fallback for old browsers 
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);*/
  background-color: slateblue;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  animation: transitionIn ease 1s;
}

img {
  width: 30px;
}

.button {
  background: -webkit-linear-gradient(to right, sandybrown, salmon);
  background: linear-gradient(to right, sandybrown, salmon);
  border-style: none;
  font-weight: 900;
  color: gray;
}

.button:hover {
  background: -webkit-linear-gradient(to right, salmon, sandybrown);
  background: linear-gradient(to right, salmon, sandybrown);
  color: ghostwhite;
}

header {
  margin: 0px;
  background-color: midnightblue;
}

.master-wrapper {
  background-color: slateblue;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding-top: 25px;
}

.content {
  padding: 20px;
  animation: transitionIn ease 1s;
}

.main-content {
  background-color: white;
  padding: 30px;
  width: 60%;
  border-radius: 20px;
  margin: 2% auto;
  animation: transitionIn ease 1s;
}

.main-content2 {
  display: flex;
  justify-content: space-around;
  animation: transitionIn ease 1s;
}

.main-content3 {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  width: 35%;
  margin: 3% auto;
  height: 380px;
  animation: transitionIn ease 1s;
}

.main-content4 {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  width: 35%;
  margin: 3% auto;
  height: auto;
  animation: transitionIn ease 1s;
}

.budget p {
  margin-bottom: 0;
  font-weight: bold;
  animation: transitionIn ease 1s;
}

.budget p span {
  font-weight: normal;
}

#expenses {
  margin-bottom: 30px;
}

h1 {
  font-family: "Raleway", sans-serif;
  background-color: midnightblue;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 300;
  color: white;
  text-align: center;
  font-size: 4.7rem !important;
  animation: transitionIn ease 1s;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #004e92;
  margin-bottom: 30px;
  font-size: 3rem;
  text-align: center;
}

.field {
  margin-bottom: 2rem;
}

.error {
  text-align: center;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.expenses-made {
  margin-bottom: 2rem;
}

.expenses-made li {
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}

.expenses-made li:last-of-type {
  margin-bottom: 0 !important;
}

.expenses-made li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.expenses-made li p .expense {
  background-color: #004085;
  padding: 1rem;
  color: white;
}

.footer1 > h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: black;
  margin-bottom: 0;
  padding-top: 0.5%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 120%;
  background-color: ghostwhite;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: 240px;
  bottom: 0;
  width: 100%;
  animation: transitionIn ease 1s;
}

.footer2 > h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: black;
  margin-bottom: 0;
  padding-top: 0.5%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 120%;
  background-color: ghostwhite;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: transitionIn ease 1s;
}

@media only screen and (max-width: 700px) {
  .main-content2 {
    background-color: #c3e6cb;
    display: inline;
    width: 90%;
  }

  .main-content {
    width: 60%;
  }

  .main-content3,
  .main-content4 {
    width: 60%;
  }

  .footer1 > h2 {
    position: relative;
    font-size: 100%;
    margin-top: 32%;
  }

  .footer2 > h2 {
    font-size: 100%;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}
